<form>
<p>
    <a href="{% url 'admin:index' %}">Admin</a>
    <a href="{% url 'currency:rate-list' %}">Rates</a>
    <a href="{% url 'currency:source-list' %}">Sources</a>
    <a href="{% url 'currency:contactus-list' %}">Contactuses</a>
    <a href="{% url 'currency:log-list' %}">Log</a>
    <a href="{% url 'currency:rate-table' %}">Rates_table</a>
    <a href="{% url 'currency:source-table' %}">Sources_table</a>
    <a href="{% url 'currency:contactus-table' %}">Contactuses_table</a>
    <a href="{% url 'currency:log-table' %}">Log_table</a><br><br>

    {% if request.user.is_authenticated %}
        Welcome {{ request.user.email }}!<br><br>
        <button type="submit" formaction="{% url 'profile' %}">Profile</button>
        <button type="submit" formaction="{% url 'logout' %}">Logout</button>
        <button type="submit" formaction="{% url 'password_change' %}">Password_change</button>

    {% else %}
        <button type="submit" formaction="{% url 'account:signup' %}">Sign Up</button>
        <button type="submit" formaction="{% url 'login' %}">Login</button>
<!--        <button type="submit" formaction="{% url 'register' %}">Register</button>-->
    {% endif %}
</p>
</form>
