{% extends 'table_base.html' %}

{% block title %}
    ContactUs
{% endblock title %}

{% block content %}
    <h2> Message table </h2>
    <tr>
        <th>ID</th>
        <th>Email_from</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>

    {% for contact in contactus %}
        <tr>
            <td class="text">{{ contact.id }}</td>
            <td>{{ contact.email_from }} </td>
            <td>{{ contact.subject }}</td>
            <td class="col">{{ contact.message }}</td>
        </tr>
    {% endfor %}
{% endblock content %}
