{% extends 'table_base.html' %}

{% block title %}
    ContactUses
{% endblock title %}

{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <br>
    <h2> Exchange source tables </h2>
    <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>

    {% for contactus in page_obj %}
        <tr>
            <td class="text">{{ contactus.id }}</td>
            <td>{{ contactus.created }}</td>
            <td>{{ contactus.name }}</td>
            <td class="text">{{ contactus.email }} </td>
            <td class="text">{{ contactus.subject }} </td>
            <td class="col">{{ contactus.message }} </td>
        </tr>
    {% endfor %}
{% endblock content %}
