{% extends 'table_base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}
    <h2> Exchange rates tables </h2>
    <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Currency</th>
        <th>Buy, <br/> ₴ </th>
        <th>Sell,<br/> ₴ </th>
        <th>Source</th>
    </tr>

    {% for rate in object_list %}
        <tr>
            <td class="text">{{ rate.id }}</td>
            <td>{{ rate.created }} </td>
            <td class="text">{{ rate.get_currency_display }} </td>
            <td class="text">{{ rate.buy }} </td>
            <td class="text">{{ rate.sell }}</td>
            <td>{{ rate.source }}</td>
        </tr>
    {% endfor %}
{% endblock content %}
